.hero__banner{
}
.home__banner--image{
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100%;
  height: 400px;

  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;

  h1, h2{
    margin: 10px auto;
  }

  h2{
    width: 30%;
    padding: 10px;
  }

  h1{
    width: 40%;
  }
}