@use 'sass:math';

.card {
  display: block;
  // padding: $base-padding;
  border: $base-border-thickens solid #ddd;
  box-shadow: $base-box--shadow;
  border-radius: $base-border-radius / 4;
  width: 200px;
  
  img{
    width: 100%;
  }
  .card__body{
    padding: $base-padding;
  }
  .card__title {
    font-size: $font-size--lg;
    padding: $base-padding 0;
    font-weight: bold;
  }
}
