.error__message{
  padding: $base-padding * 3 0;
  text-align: center;
  font-size: 30px;
}
.error{
  text-align: center;
  color: $error;
  border: solid 2px $error;
  background-color: #d3275213;
  font-size: $font-size--lg;
}