%flex-layout {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.navbar {
  background-color: #FFFCF7;
  @extend %flex-layout;
  padding: $base-padding $base-padding * 2;
  box-shadow: $base-box--shadow;

  .site-title {
    font-size: $font-size--lg;
  }
  .container {
    @extend %flex-layout;
  }
}

@each $key, $val in $colors {
  .navbar-#{$key}{
    @extend .navbar; 
    background-color: $val;
  }
}

@media (min-width: $breakpoint-tablet) {
  .fas, .fa-bars {
    font-size: $font-size--lg;

  }
}

@each $key, $val in $colors {
  .navbar-#{$key}{
    @extend .navbar; 
    background-color: $val;
  }
}


.fa-bars{
  font-size: 35px;
  z-index: 99;
  padding: 0 $base-padding;
  @media (min-width: $breakpoint-tablet) {
    display: none;
  }
}

.navbar__item{
  display: flex;
  align-items: center;
}


.dropdown__items{
  display: none;
  position: absolute;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 20%;
  background-color: #FFFCF7;
  z-index: 99;


  div{
    padding: 0;
  }

  ul{
    display: flex;
    align-items: center;
    flex-direction: column;
    li{
      padding: $base-padding 0;
      a{
        font-size: $font-size--lg;
        text-transform: uppercase;
        font-weight: bolder;
      }
    }
  }
}
@media (min-width: $breakpoint-tablet) {
  nav{
    flex-direction: row;
    align-items: center;
    padding: 0;

    .dropdown__items{
      display: block !important;
      width: unset;
      height: unset;
      left: unset;
      position: unset;
      margin: unset;
      top: unset;
      padding: 0;
      
      ul{
        flex-direction: row;
        li{
          padding: 0 10px;
        }
      }
    }
    
  }
}

.menu a.hide {
  display: none;
}

.menu-container{
  color: black;
}