@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


@font-face {
  font-family: "Noto Serif Display Extra Condensed";
  src: url("../../assets/fonts/Noto-Serif-Display-ExtraCondensed.ttf.woff");
}

$title-font: "Noto Serif Display Extra Condensed", serif;
$base-font: "Montserrat", sans-serif;

// Theme colors
$primary: #D6B5AB;
$secondary: #AB7C73;
$dark: #525558;
$error: #d32752;
$info: #f6c31c;

// color palets
$colors: (
  "primary": $primary,
  "secondary": $secondary,
  "error": $error,
  "info": $info,
  "white": white,
  "black": black,
  "green": #2bab8d,
  "gray": lightgray,
);

//spacing
$base-padding: 0.75rem;
$base-margin: 0.75rem;

//borders
$base-border-thickens: 1px;
$base-border-radius: 20px;

// box-shadow
$base-box--shadow: 2px 3px 5px rgba(212, 165, 165, 0.25);

// font sizes
$base-font--size: 1rem;
$font-size--sm: $base-font--size * 0.75;
$font-size--md: $base-font--size * 1;
$font-size--lg: $base-font--size * 1.5;
$font-size--xl: $base-font--size * 2;
$font-size--xxl: $base-font--size * 3;

// /* breakpoints */
$breakpoint-tablet: 768px;
$breakpoint-laptop: 1024px;