@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

$base__font: 'Playfair Display', serif; 
$main__font: 'Montserrat', sans-serif;
$base__padding: 20px;