  .product__list{
    li{
      padding: $base__padding 0;
    }
  }
  form{
    max-width: 600px;
    margin: $base__padding auto;
    label{
      width: 110px;
    }
    .btn{
      background-color: $secondary;
      color: white;
    }
    .form-check-input:checked {
      background-color: $secondary;
      border-color: $secondary;
  }
  }