
.card{
  a{
    text-decoration: underline;
  }
  .single__price{
    padding: $base-padding;
  }
  .shopping__cart--options{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: $base-padding;
    .product__count{
      padding: $base-padding;
    }
  }
}
